In [3]:
import db_utils
import yaml, pandas as pd, numpy as np

with open('credentials.yaml') as file:
    credentials_dict = yaml.safe_load(file)
    
credentials = db_utils.RDSDatabaseConnector(credentials_dict)
loan_payments = credentials.initialise_database()

credentials.save_file(loan_payments)
database = pd.read_csv('new_file.csv', index_col = 'id')

cleaned_data = db_utils.DataTransform(database)

date_data = ['issue_date', 'earliest_credit_line', 'last_payment_date', 'next_payment_date',
             'last_credit_pull_date']

categorical_data = ['member_id', 'term', 'int_rate', 'grade', 'sub_grade', 'employment_length', 'home_ownership', 'verification_status', 'loan_status', 
                    'payment_plan', 'purpose', 'policy_code', 'application_type']

non_numeric_data = date_data + categorical_data 
column_headings = database.columns.values.tolist()
numeric_data = [column for column in column_headings if column not in non_numeric_data]

for date_column in date_data:
    database, date_column = cleaned_data.date_data(database, date_column)

for categories in categorical_data:
    database, categories = cleaned_data.change_type(database, categories, 'category')

df_info = db_utils.DataFrameInfo(database)

for column in column_headings:
    null_vals, null_percentage = df_info.missing(database, column)
    null_percentage = round(null_percentage, 2)
    if null_percentage > float(50):
        database = database.drop(column, axis=1)
    elif float(0) < null_percentage < float(50):
        print(f'{column}: {null_vals} null values, {null_percentage}%')

funded_amount_column = list(database['funded_amount'])
loan_amount_column = list(database['loan_amount'])

for index in range(54231):
    if np.isnan(funded_amount_column[index]):
        funded_amount_column[index] = loan_amount_column[index]
database['funded_amount'] = funded_amount_column

funded_amount: 3007 null values, 5.54%
term: 4772 null values, 8.8%
int_rate: 5169 null values, 9.53%
employment_length: 2118 null values, 3.91%
last_payment_date: 73 null values, 0.13%
last_credit_pull_date: 7 null values, 0.01%
collections_12_mths_ex_med: 51 null values, 0.09%
         member_id  loan_amount  funded_amount  funded_amount_inv       term  \
id
38676116  41461848         8000         8000.0             8000.0  36 months
38656203  41440010        13200        13200.0            13200.0  36 months
38656154  41439961        16000        16000.0            16000.0  36 months
38656128  41439934        15000        15000.0            15000.0  36 months
38656121  41439927        15000        15000.0            15000.0  36 months
38656111  41439917         2525         2525.0             2525.0  36 months
38656110  41439916         6675         6675.0             6675.0        NaN
38656067  41439872        26500        26500.0            26200.0        NaN
38656063  41439868        10000        10000.0            10000.0  60 months
38656052  41439857        10000        10000.0            10000.0  36 months
38656023  41439828         7200         7200.0             7200.0  36 months
38656004  41439809         2000         2000.0             2000.0  36 months
38656003  41439808         6000         6000.0             6000.0  36 months
38655994  41439798        10000        10000.0            10000.0        NaN
38655931  41439735         7675         7675.0             7675.0  36 months

          int_rate  instalment grade sub_grade employment_length  ...  \
id                                                                ...
38676116      7.49      248.82     A        A4           5 years  ...
38656203      6.99      407.52     A        A3           9 years  ...
38656154      7.49      497.63     A        A4           8 years  ...
38656128     14.31      514.93     C        C4            1 year  ...
38656121      6.03      456.54     A        A1         10+ years  ...
38656111     11.44       83.20     B        B4          < 1 year  ...
38656110     21.99      254.89     E        E5               NaN  ...
38656067     19.99      701.95     E        E3          < 1 year  ...
38656063     12.99      227.48     C        C2          < 1 year  ...
38656052      8.19      314.25     A        A5         10+ years  ...
38656023      8.19      226.26     A        A5           7 years  ...
38656004     10.49       65.00     B        B3         10+ years  ...
38656003     12.39      200.41     C        C1          < 1 year  ...
38655994      6.99      308.73     A        A3           3 years  ...
38655931     13.66      261.05     C        C3               NaN  ...

         total_rec_int  total_rec_late_fee recoveries collection_recovery_fee  \
id
38676116        512.21                 0.0        0.0                     0.0
38656203        787.94                 0.0        0.0                     0.0
38656154        824.54                 0.0        0.0                     0.0
38656128        947.47                 0.0        0.0                     0.0
38656121        770.93                 0.0        0.0                     0.0
38656111        231.28                 0.0        0.0                     0.0
38656110        288.53                 0.0        0.0                     0.0
38656067       2984.92                 0.0        0.0                     0.0
38656063       1203.45                 0.0        0.0                     0.0
38656052        701.08                 0.0        0.0                     0.0
38656023        504.77                 0.0        0.0                     0.0
38656004        180.40                 0.0        0.0                     0.0
38656003        643.26                 0.0        0.0                     0.0
38655994        596.93                 0.0        0.0                     0.0
38655931        907.02                 0.0        0.0                     0.0

         last_payment_date last_payment_amount last_credit_pull_date  \
id
38676116        2022-01-01              248.82            2022-01-01
38656203        2022-01-01              407.52            2022-01-01
38656154        2021-10-01            12850.16            2021-10-01
38656128        2021-06-01            13899.67            2021-06-01
38656121        2022-01-01              456.54            2022-01-01
38656111        2022-01-01               91.39            2022-01-01
38656110        2021-03-01             6724.95            2021-03-01
38656067        2021-08-01              701.95            2022-01-01
38656063        2022-01-01              227.48            2022-01-01
38656052        2022-01-01              314.25            2022-01-01
38656023        2022-01-01              226.26            2022-01-01
38656004        2022-01-01               65.00            2022-01-01
38656003        2022-01-01              200.41            2022-01-01
38655994        2022-01-01              308.73            2022-01-01
38655931        2022-01-01              261.05            2022-01-01

          collections_12_mths_ex_med  policy_code application_type
id
38676116                         0.0            1       INDIVIDUAL
38656203                         0.0            1       INDIVIDUAL
38656154                         0.0            1       INDIVIDUAL
38656128                         0.0            1       INDIVIDUAL
38656121                         0.0            1       INDIVIDUAL
38656111                         0.0            1       INDIVIDUAL
38656110                         0.0            1       INDIVIDUAL
38656067                         0.0            1       INDIVIDUAL
38656063                         0.0            1       INDIVIDUAL
38656052                         0.0            1       INDIVIDUAL
38656023                         0.0            1       INDIVIDUAL
38656004                         0.0            1       INDIVIDUAL
38656003                         0.0            1       INDIVIDUAL
38655994                         0.0            1       INDIVIDUAL
38655931                         0.0            1       INDIVIDUAL

[15 rows x 38 columns]